html {
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    margin: 0;
    text-align: center;
    background: #F8F2E7;
    font-family: 'Roboto Slab', serif;
}

h1 {
    font-size: 40px;
    text-decoration: underline;
}

#img-div {
    margin: 0 30px;
    padding: 30px;
    border-radius: 30%;
    font-style: italic;
    background: #E5B672;
}

img {
    display: block;
    height: auto;
    max-width: 70%;
    margin: 10px auto;
}

ul {
    width: 70%;
    margin: auto;
    padding: 0;
    text-align: justify;
}

li {
    padding: 16px 0;
    border-bottom: 1px solid grey;
}

.quote {
    display: flex;
    flex-direction: column;
    margin: 20px 0;
    font-style: italic;
    font-size: 28px;
}

footer {
    border-top: 2px solid grey;
    font-size: 35px;
}

@media (max-width: 900px) {
    .quote {
        font-size: 20px;
    }

    footer {
        font-size: 28px;
    }
}

@media (max-width: 600px) {
    figcaption {
        font-size: 14px;
    }

    #img-div {
        padding: 10px;
        border-radius: 10px;
    }

    img {
        max-width: 90%;
    }

    h1 {
        font-size: 30px;
    }

    h2,
    .quote {
        font-size: 16px;
    }

    li {
        font-size: 14px;
    }

    footer {
        font-size: 20px;
    }
}
